@import "Themes.module.css";

.chatWrapper {
  display: flex;
  flex-direction: column;
    max-height: 85vh;
    height: 100%;
}

.messageList {
    flex-grow: 10;
    overflow-y: auto;
    color: var(--secondaryFont);
}

.pinList {
    overflow-y: auto;
    flex-grow: 4;
    max-height: 20vh;
    margin-bottom: 1vh;
}

.pinHeader {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 0.2em;
  border-radius: 5px 5px 0 0;
  background-color: var(--secondaryColor);
  color: var(--secondaryFont);
}

.chatHeader {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 0.2em;
  border-radius: 5px 5px 0 0;
  background-color: var(--secondaryFont);
  color: var(--secondaryColor);
}

.sendArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.sendArea textarea {
  flex-grow: 2;
  width: 80%;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--bgColor);
  color: var(--primaryFont);
  box-shadow: 2px 2px 6px var(--shadow);
  font-size: 16px;
  resize: none;
}

.sendArea button {
  border: 1px solid var(--primaryFont);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primaryColor);
  color: var(--primaryFont);
}

.message {
  overflow-wrap: break-word;
  display: flex;
}

.messageSelf {
  justify-content: right;
  text-align: right;
  padding-inline-end: 1em;
}

.messageOther {
  justify-content: left;
  text-align: left;
  padding-inline-start: 1em;
}

.messagePin {
  background-color: rgba(101, 155, 255, 0.7);
  text-align: left;
  padding-inline-start: 1em;
}

.textBox {
  padding: 5px 1em 5px 1em;
  margin: 5px;
  max-width: 80%;
}

.textBox p {
  margin: 0;
  color: var(--secondaryColor);
  font-size: small;
  font-weight: 700;
}

.textBoxSelf {
  background-color: var(--field);
  color: var(--secondaryFont);
  border-radius: 10px 10px 2px 10px;
}

.textBoxOther {
  background-color: var(--bgColor);
  color: var(--primaryFont);
  border-radius: 10px 10px 10px 2px;
}

.unreadMarker {
  background-color: antiquewhite;
  text-align: center;
  border-radius: 5px;
  display: block;
}

.contextMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;
}

.dropdown {
  background-color: var(--primaryFont);
  color: var(--secondaryFont);
  list-style-type: none;
  min-width: 5rem;
  margin-top: 0;
  z-index: 1;
  padding-inline-start: 0;
  padding: 2px 0px 2px 0px;
}

.dropdown a {
  text-align: center;
  display: block;
}

.dropdown li {
  margin: 5px;
}

.dropdown li:hover {
  transition: background-color 0.2s ease-in;
  background-color: var(--secondaryColor);
}

@media only screen and (max-width: 880px) {
  .messageList {
    height: 75%;
  }
}