@import "Themes.module.css";

.user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-bottom: 2px solid var(--secondaryFont);
  height: 2.5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.user button {
  display: flex;
  font-size: large;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.user button:hover {
  background: var(--secondaryTint);
}

.header {
  background-color: var(--bgColor);
  color: var(--primaryFont);
  font-weight: 600;
}

.admin {
  color: var(--secondaryFont);
  background-color: var(--admin);
}

.viewer {
  color: var(--secondaryFont);
  background-color: var(--viewer);
}

.icon {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shortField {
  display: flex;
  width: 25%;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 80%;
  height: 30px;
  border-width: 0;
  border-radius: 5px;
  padding: 0.5em;
  font-size: large;
  font-weight: 600;
  background-color: var(--field);
  color: var(--secondaryFont);
  transition: background-color 0.5s;
}

.search input:focus {
  background-color: var(--secondaryTint);
  color: var(--secondaryFont);

}