@import "Themes.module.css";

.greeter {
  height: 8vh;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  padding: 1em;
  color: var(--primaryFont);
}

.playerWrapper {
  width: 70%;
  height: 90vh;
}

.roomButtons {
  margin-top: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.roomButtons button {
  background-color: var(--primaryColor);
  color: var(--primaryFont);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--shadow);
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: medium;
  font-weight: 500;
  transition: background-color 0.5s ease;
}

.roomButtons button:hover {
  background-color: var(--primaryTint);
}

.roomButtons button:disabled {
    background-color: var(--disabled);
    cursor: default;
}

.currentRoomButton,
.currentRoomButton:disabled {
  background-color: var(--secondaryColor) !important;
  color: var(--secondaryFont) !important;
  cursor: default;
}

.mediaPlayer {
  height: 80vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.mediaPlayer iframe {
  border: none;
}

.chatWrapper {
  width: 25%;
  height: 88vh;
  margin: 3em 1em 1em 3em;
  text-align: center;
  background-color: var(--primaryColor);
  border-radius: 10px;
  box-shadow: 4px 4px 16px var(--shadow);
}

.chatWrapper button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.chatWrapper button:disabled {
  background-color: grey;
  pointer-events: none;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 880px) {
  .greeter {
    width: 60%;
  }

  .playerWrapper {
      width: 100%;
      height: fit-content;
  }

  .mediaPlayer{
      height: 40vh;
  }

  .chatWrapper {
      width: 100%;
      height: 40vh;
      margin: 1em 0 0 0;
      text-align: center;
      background-color: var(--primaryColor);
  }
}